<p>Mechanic: <%= @mechanic.name %></p>
<p>Years of Experience: <%= @mechanic.yrs_exp %></p>
</br>
<p>Current rides they're working on:</p>
<% @mechanic.rides.each do |ride| %>
  <p><%= ride.name %></p>
<% end %>
</br>
<strong>Add a ride to workload:</strong>
</br>
<%= form_tag "/mechanics/#{@mechanic.id}", method: :patch do %>
  <%= label_tag "Ride id" %>
  <%= text_field_tag :ride_id %>
  <%= submit_tag "Submit" %>
<% end %>
